<section class="chat__section">
    <div class="brand">

        <img height="40" src="../../../assets/bot.png" alt="">

        <h1>TC ☺ Food Corner</h1>

    </div>

    <div class="message__area">
        <ng-container *ngFor="let welMsg of welcome">

            <div class="message from" onload="messages" >
    
                  {{welMsg}}
    
                </div>
    
            </ng-container>

        <ng-container *ngFor="let message of messages">

            <div class="message" [ngClass]="{ 'from': message.author === 'bot',

        'to': message.author === 'user' }">

                {{ message.content }}

            </div>

        </ng-container>

    </div>

    <input type="text" placeholder="Enter your Message" (keyup.enter)="sendMessage()" [(ngModel)]="value" />

    <button (click)="sendMessage()" type="submit">

        <i class='fa fa-send'></i></button>

</section>
