<!-- <p>register works!</p> -->
<div class="center" >
    <h1 style="text-align:center">Sign Up</h1>
        <form method="post">
        <div class="txt1">
    
        First Name:<input type="text" required>
        </div>
        <div class="txt1">
        Last Name:<input type="text" required> 
        </div>
        <div class="txt1">
        Email:<input type="email" required> 
        </div>
        <div class="txt1">
        Mobile Number:<input type="number" required> 
        </div>
        <div class="txt1">
        Password:<input type="any" required> 
        </div>
        <div class="txt1">
        Confirm Password:<input type="password" required> 
        </div>

        <!-- <div class="txt3" >Forgot Password?</div> -->
        <!-- <input type="submit" value="Login"> -->
        <div class="txt2">
        <button>Register</button>
        </div>
        
    </form>
    </div>
    
    